.hero-section {
    background-image: url('src/assets/welcomepage1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .hero-content {
    background: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 10px;
  }
  
  .search-bar {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .search-bar input {
    border-radius: 30px;
    padding: 10px 20px;
  }
  
  .search-bar button {
    border-radius: 30px;
    padding: 10px 20px;
  }
  
  .card img {
    height: 800px;
    object-fit: cover;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  footer a {
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  footer a:hover {
    color: #ff5733;
  }
  
  .container {
    max-width: 100%;
  }  