<div class="container-fluid h-100 glass-background">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-md-4">
        <div class="card glassmorphism">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && loginForm.get('username')?.errors }" />
                <div *ngIf="submitted && loginForm.get('username')?.errors" class="invalid-feedback">
                  <div *ngIf="loginForm.get('username')?.errors?.['required']">Username is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && loginForm.get('password')?.errors }" />
                <div *ngIf="submitted && loginForm.get('password')?.errors" class="invalid-feedback">
                  <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
                </div>
              </div>
              <button class="btn btn-animated mt-3">Login</button>
            </form>
            <div class="mt-3">
              <a routerLink="/signup">Don't have an account? Sign up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  