<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let movie of movies">
      <div class="card mb-4 movie-card">
        <img class="card-img-top" src="{{ movie.moviePoster }}" alt="{{ movie.movieName }}">
        <div class="card-body">
          <h5 class="card-title"><strong>Movie Name: </strong>{{ movie.movieName }}</h5>
          <p class="card-text"><strong>Description: </strong>{{ movie.description }}</p>
          <p class="card-text"><strong>Genre: </strong>{{ movie.genre }}</p>
          <p class="card-text"><strong>Language: </strong>{{ movie.languages }}</p>
          <button class="btn btn-animated" (click)="bookTicket(movie.id)">Book Tickets</button>
        </div>
      </div>
    </div>
  </div>
</div>
