<div class="container d-flex justify-content-center">
  <div *ngIf="selectedMovie" class="card selected-movie-details">
    <img [src]="selectedMovie.moviePoster" alt="{{ selectedMovie.movieName }}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{ selectedMovie.movieName }}</h5>
      <p class="card-text"><strong>Genre:</strong> {{ selectedMovie.genre }}</p>
      <p class="card-text"><strong>Languages:</strong> {{ selectedMovie.languages }}</p>
      <p class="card-text"><strong>Description:</strong> {{ selectedMovie.description }}</p>

      <div class="form-group">
        <label for="theater">Select Theater:</label>
        <div class="custom-select-wrapper">
          <select class="form-control theater-select" id="theater" [(ngModel)]="selectedTheater" required>
            <option value="" disabled selected hidden>Select Theater</option>
            <option *ngFor="let theater of theaters" [value]="theater.id">{{ theater.theaterName }} - {{ theater.city }}</option>
          </select>
        </div>
      </div>

      <div class="ticket-booking">
        <p>Tickets:</p>
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-sm" (click)="decrementTicketCount()">
              <span><i class="fa fa-minus"></i></span>
            </button>
          </div>
          <input type="text" class="form-control" [(ngModel)]="ticketCount" min="0">
          <div class="input-group-append">
            <button class="btn btn-sm" (click)="incrementTicketCount()">
              <span><i class="fa fa-plus"></i></span>
            </button>
          </div>
        </div>
        <button class="btn btn-primary mt-3" [disabled]="ticketCount === 0" (click)="bookTicket()">Book Tickets</button>
      </div>
    </div>
  </div>
</div>
